$border-light: 1px solid $color-border-light;
$border-dark: 1px solid $color-border-dark;
$border-primary: 1px solid $color-primary;
$border-secondary: 1px solid $color-secondary;
$border-error: 2px solid $color-error;
$border-success: 2px solid $color-success;
