.c-client-card {
	&__box {
		@include padding-inset(sm);
		@include border-primary;

		background: $color-primary;
	}

	&__quote {
		@include typography-h2;

		color: $color-heading-light;

		height: rem(32px);
		width: rem(32px);
	}

	&__blockquote {
		@include typography-body-1;

		@include margin-top(xs);

		color: $color-body-light;
	}

	&__image {
		@include margin-top(sm);
		height: rem(64px);
		width: rem(64px);
	}

	&__title {
		@include typography-subtitle-1;

		@include margin-top(sm);

		color: $color-heading-dark;
	}

	&__description {
		@include typography-body-2;

		color: $color-body-dark;
	}
}

.c-service-card {
	@include padding-inset(sm);
	@include border-primary;

	background: $color-primary;

	&__image {
		display: block;
		height: auto;
		margin: auto;
		width: 50%;
		max-width: rem(128px);

		@include breakpoint-up(md) {
			margin: 0px;
		}
	}

	&__title {
		@include margin-top(sm);
		@include typography-subtitle-1;

		color: $color-heading-light;
	}

	&__description {
		@include typography-body-1;

		color: $color-body-light;
	}
}

.c-project-card {
	&__image {
		height: auto;
		width: 100%;
	}

	&__caption {
		@include typography-subtitle-1;

		color: $color-heading-dark;
	}
}

.c-label {
	@include typography-body-2;

	color: $color-body-dark;
	display: block;
}

.c-input {
	@include padding-inset-squish(xs);
	@include typography-body-2;
	@include border-dark;

	background: $background-input-field;
	color: $color-body-dark;
	display: block;
	transition: all 0.5s ease;
	width: 100%;

	&:focus {
		outline: $outline-primary;
	}
}

.c-textarea {
	@include padding-inset-squish(xs);
	@include typography-body-2;
	@include border-dark;

	background: $background-input-field;
	color: $color-body-dark;
	width: 100%;

	&:focus {
		outline: $outline-primary;
	}
}

.c-button {
	@include typography-button;
	@include padding-inset(xs);
	@include border-primary;

	background: none;
	color: $color-primary;
	transition: all 0.3s ease;

	&:hover {
		background: $color-primary;
		color: $color-heading-light;
		cursor: pointer;
	}

	&:focus {
		background: $color-primary-dark;
		color: $color-heading-light;

		outline: $outline-primary;
	}

	&--large {
		@include padding-inset-squish(sm);
	}
}

.c-bubble {
	background: $color-primary-gradient;
	border-radius: 50%;
	height: rem(8px);
	overflow: hidden;
	position: absolute;
	width: rem(8px);

	&--sm {
		width: rem(16px);
		height: rem(16px);
	}

	&--md {
		width: rem(32px);
		height: rem(32px);
		opacity: 0.9;
	}

	&--lg {
		width: rem(64px);
		height: rem(64px);
		opacity: 0.7;
	}

	&--xl {
		width: rem(128px);
		height: rem(128px);
		opacity: 0.6;
	}

	&--xxl {
		width: rem(256px);
		height: rem(256px);
		opacity: 0.5;
	}

	&--xxxl {
		height: rem(512px);
		width: rem(512px);
		opacity: 0.5;
	}
}
