.c-navigation {
	background: $background-body-dark;
	height: 50px;
}

.c-client-card {
	&__box {
		@include padding-inset(sm);
		background: $color-primary;

		border-radius: 2px;
	}

	&__quote {
		@include typography-h2;

		color: $color-heading-light;

		height: px-to-rem(32px);
		width: px-to-rem(32px);
	}

	&__blockquote {
		@include typography-body-1;

		@include margin-top(xs);

		color: $color-body-light;
	}

	&__image {
		@include margin-top(sm);
		height: px-to-rem(64px);
		width: px-to-rem(64px);
	}

	&__title {
		@include typography-subtitle-1;

		@include margin-top(sm);

		color: $color-heading-dark;
	}

	&__description {
		@include typography-body-2;

		color: $color-body-dark;
	}
}

.c-service-card {
	@include padding-inset(sm);

	background: $color-primary;
	border-radius: 2px;

	&__image {
		display: block;
		height: auto;
		margin: auto;
		width: 50%;
		max-width: px-to-rem(128px);

		@include breakpoint-up(md) {
			margin: 0px;
		}
	}

	&__title {
		@include margin-top(sm);

		@include typography-subtitle-1;

		color: $color-heading-light;
	}

	&__description {
		@include typography-body-1;

		color: $color-body-light;
	}
}

.c-project-card {
	&__image {
		height: auto;
		width: 100%;
	}

	&__caption {
		@include typography-subtitle-1;

		color: $color-heading-dark;
	}
}

.c-label {
	@include typography-body-2;

	color: $color-body-dark;
	display: block;
}

.c-input {
	@include padding-inset-squish(xs);
	@include typography-body-2;

	background: $background-input-field;
	border-radius: 2px;
	border: 1px solid $color-border-dark;
	color: $color-body-dark;
	display: block;
	width: 100%;
}

.c-textarea {
	@include padding-inset-squish(xs);
	@include typography-body-2;

	background: $background-input-field;
	border-radius: 2px;
	border: 1px solid $color-border-dark;
	color: $color-body-dark;
	width: 100%;
}

.c-button {
	@include typography-button;
	@include padding-inset(xs);

	background: none;
	border: 2px solid $color-primary;
	border-radius: 2px;
	color: $color-primary;

	&--large {
		@include padding-inset-squish(sm);
	}
}

.c-bubble {
	background: $background-body-gradient;
	border-radius: 50%;
	height: px-to-rem(8px);
	overflow: hidden;
	position: absolute;
	width: px-to-rem(8px);
	z-index: -1c1;

	&--sm {
		width: px-to-rem(16px);
		height: px-to-rem(16px);
	}

	&--md {
		width: px-to-rem(32px);
		height: px-to-rem(32px);
		opacity: 0.9;
	}

	&--lg {
		width: px-to-rem(64px);
		height: px-to-rem(64px);
		opacity: 0.7;
	}

	&--xl {
		width: px-to-rem(128px);
		height: px-to-rem(128px);
		opacity: 0.6;
	}

	&--xxl {
		width: px-to-rem(256px);
		height: px-to-rem(256px);
		opacity: 0.5;
	}

	&--xxxl {
		height: px-to-rem(512px);
		width: px-to-rem(512px);
		opacity: 0.5;
	}
}
