.l-header {
	height: 100vh;

	&__bubble-1 {
		display: none;
		z-index: 1;

		@include breakpoint-up(md) {
			bottom: rem(-80px);
			display: block;
			left: rem(48px);
		}

		@include breakpoint-up(lg) {
			left: rem(64px);
		}

		@include breakpoint-up(xl) {
			left: rem(300px);
		}
	}

	&__bubble-2 {
		background: $color-secondary-light !important;
		// top: rem(100px);
		top: 13%;
		left: rem(250px);

		@include breakpoint-up(md) {
			top: 100px;
		}

		@include breakpoint-up(lg) {
			top: 240px;
		}
	}

	&__bubble-3 {
		bottom: rem(204px);
		left: rem(64px);

		@include breakpoint-up(md) {
			left: auto;
			right: rem(512px);
		}

		@include breakpoint-up(lg) {
			right: rem(700px);
		}
	}

	&__bubble-4 {
		bottom: rem(128px);
		left: rem(32px);

		@include breakpoint-up(md) {
			left: auto;
			right: rem(512px);
		}

		@include breakpoint-up(lg) {
			right: rem(700px);
		}
	}

	&__bubble-5 {
		bottom: rem(128px);
		right: rem(-8px);

		@include breakpoint-up(md) {
			bottom: rem(200px);
			right: rem(96px);
		}

		@include breakpoint-up(lg) {
			display: none;
		}
	}

	&__bubble-6 {
		display: none;

		@include breakpoint-up(lg) {
			display: block;
			bottom: rem(100px);
			right: rem(32px);
		}
	}
}

.l-main {
	&__bubble-1 {
		top: rem(900px);
		left: rem(-10px);

		@include breakpoint-up(md) {
			top: rem(350px);
		}

		@include breakpoint-up(lg) {
		}
	}

	&__bubble-2 {
		bottom: rem(0px);
		left: rem(100px);

		@include breakpoint-up(xl) {
			left: 400px;
		}
	}

	&__bubble-3 {
		top: rem(300px);
		right: rem(100px);

		@include breakpoint-up(md) {
			right: rem(170px);
			top: rem(32px);
		}

		@include breakpoint-up(lg) {
			right: rem(200px);
		}
	}

	&__bubble-4 {
		bottom: rem(20px);
		right: rem(100px);

		@include breakpoint-up(md) {
			bottom: rem(250px);
			right: rem(300px);
		}

		@include breakpoint-up(lg) {
			bottom: rem(400px);
			right: rem(600px);
		}
	}

	&__bubble-5 {
		left: rem(200px);
		z-index: -1;
	}

	&__bubble-6 {
		top: rem(200px);
		right: rem(-16px);

		@include breakpoint-up(md) {
			left: rem(200px);
		}

		@include breakpoint-up(lg) {
			left: rem(300px);
		}
	}

	&__bubble-7 {
		bottom: rem(300px);
		left: rem(50px);

		@include breakpoint-up(md) {
			display: none;
		}
	}

	&__bubble-8 {
		right: rem(64px);
		top: rem(400px);

		@include breakpoint-up(md) {
			bottom: rem(0px);
			right: rem(100px);
		}

		@include breakpoint-up(lg) {
			right: rem(50px);
		}

		@include breakpoint-up(xl) {
			right: rem(200px);
		}
	}

	&__bubble-9 {
		right: rem(64px);
		top: rem(300px);

		@include breakpoint-up(md) {
			top: auto;
			bottom: rem(250px);
			right: rem(100px);
		}

		@include breakpoint-up(lg) {
			bottom: rem(200px);
			right: rem(40px);
		}

		@include breakpoint-up(xl) {
			right: rem(200px);
		}
	}

	&__bubble-10 {
		left: rem(32px);
		bottom: rem(-40px);

		@include breakpoint-up(md) {
			left: rem(250px);
			top: rem(100px);
		}

		@include breakpoint-up(lg) {
			left: rem(450px);
		}
	}

	&__bubble-11 {
		right: rem(-10px);
		top: rem(350px);

		@include breakpoint-up(md) {
			right: rem(-50px);
			top: rem(250px);
		}
	}

	&__bubble-12 {
		top: rem(400px);
		left: rem(100px);

		@include breakpoint-up(md) {
			top: auto;
			bottom: rem(0px);
		}

		@include breakpoint-up(lg) {
			left: rem(200px);
		}

		@include breakpoint-up(xl) {
			left: rem(500px);
		}
	}

	&__bubble-13 {
		left: rem(100px);
		top: rem(70px);
	}

	&__bubble-14 {
		bottom: rem(0px);
		left: rem(150px);

		@include breakpoint-up(xl) {
			left: rem(400px);
		}
	}

	&__bubble-15 {
		top: rem(50px);

		@include breakpoint-up(lg) {
			right: rem(200px);
		}
	}

	&__bubble-16 {
		left: rem(100px);
		top: rem(400px);

		@include breakpoint-up(md) {
			top: rem(200px);
		}
	}
}

.l-footer {
	&__bubble-1 {
		right: rem(100px);
		bottom: rem(50px);

		@include breakpoint-up(md) {
			left: rem(300px);
		}

		@include breakpoint-up(lg) {
			left: rem(400px);
		}
	}

	&__bubble-2 {
		right: rem(110px);
		bottom: rem(20px);

		@include breakpoint-up(md) {
			left: rem(280px);
		}

		@include breakpoint-up(lg) {
			left: rem(380px);
		}
	}

	&__bubble-3 {
		right: rem(60px);
		bottom: rem(20px);

		@include breakpoint-up(md) {
			left: rem(350px);
		}

		@include breakpoint-up(lg) {
			left: rem(480px);
		}
	}

	&__content {
		@include padding-inset(sm);
	}

	&__text {
		@include typography-body-2;
		color: $color-body-dark;
	}

	&__symbol {
		@include typography-h6;

		@include margin-right(xs);

		color: $color-body-dark;
	}
}

.l-hero {
	@include padding-left(sm);
	@include padding-right(sm);
	margin-top: 15vh;

	@include breakpoint-up(lg) {
		margin-top: 30vh;
	}

	&__text {
		@include breakpoint-up(md) {
			width: 50%;
		}
	}

	&__subtitle {
		@include typography-subtitle-1;
		color: $color-heading-dark;
	}

	&__title {
		@include typography-h3;
		@include breakpoint-up(md) {
			@include typography-h2;
		}
		@include margin-top(xs);
		@include margin-bottom(md);

		color: $color-heading-dark;
	}

	&__image {
		display: block;
		bottom: 0px;
		height: auto;
		margin: 0px auto;
		object-fit: cover;
		position: absolute;
		right: rem(16px);
		width: 95%;
		max-width: rem(500px);
		z-index: 1;

		@include breakpoint-up(md) {
		}

		@include breakpoint-up(lg) {
			max-width: rem(700px);
		}

		@include breakpoint-up(xl) {
			left: 40% '';
		}
	}
}

.l-about {
	&__image {
		height: auto;
		width: 100%;
	}

	&__description {
		@include margin-top(md);

		@include breakpoint-up(md) {
			margin-top: 0px;
		}

		@include typography-body-2;

		color: $color-body-dark;
	}
}

.l-contact {
	&__form {
		@include margin-top(lg);

		@include breakpoint-up(md) {
			margin-top: 0px;
		}
	}

	&__label {
		@include margin-bottom(xs);
	}

	&__input {
		@include margin-bottom(xs);
	}

	&__button {
		@include margin-top(md);
	}

	&__image {
		height: auto;
		width: 100%;
	}
}
