.m-nav-desktop {
	position: fixed;
	display: none;
	top: 0px;
	width: 100%;
	z-index: 2;

	&__container {
		@extend .container-fluid;
	}

	&__content {
		@extend .d-flex;
		@extend .justify-content-between;
		@extend .align-items-center;

		@include padding-inset(sm);
	}

	&__logo {
		@include typography-body-2;
		color: $color-primary;
		letter-spacing: 5px;
	}

	&__list {
		@extend .d-flex;
		@extend .align-items-center;
	}

	&__list-item {
		margin-right: rem(32px);
		transition: all 0.3s ease;
	}

	&__anchor {
		@include padding-inset(xs);
		@include typography-navigation;
		color: $color-heading-dark;
		text-decoration: none;

		&--active {
			border-bottom: 2px solid $color-primary;
			color: $color-primary;
			transition: all 0.3s ease;
		}
	}

	@include breakpoint-up(md) {
		display: block;
		left: 0px;
	}
}

.m-nav-mobile {
	@extend .d-flex;
	@extend .justify-content-between;
	@extend .align-items-center;

	@include padding-inset(sm);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;

	&__logo {
		@include typography-body-2;
		color: $color-primary;
		letter-spacing: 5px;
	}

	&__hamburger {
		@include padding-inset(xs);
		background: none;
		border: none;

		&:focus {
			outline: $outline-primary;
		}
	}

	&__hamburger-piece-1 {
		background: $color-primary;
		height: rem(4px);
		margin-bottom: rem(6px);
		width: 16vw;
	}

	&__hamburger-piece-2 {
		background: $color-primary;

		height: rem(4px);
		width: 16vw;
	}

	&__panel {
		background: white;
		height: 100vh;
		left: 0px;
		position: fixed;
		box-shadow: $shadow-navigation;
		top: 0px;
		transition: all 0.3s ease;
		width: 80vw;
		z-index: 2;
	}

	&__panel-cross-button {
		@include padding-inset(sm);
		background: none;
		border: none;
		float: right;
		margin-top: 32px;
		margin-right: 32px;

		&:focus {
			outline: $outline-primary;
		}
	}

	&__panel-cross-icon {
		background-image: url('./../../assets/images/icons/cross.svg');
		background-size: cover;
		display: block;
		height: rem(32px);
		width: rem(32px);
	}

	&__panel-button {
		@include margin-left(xs);
	}

	&__panel--hide {
		left: -100vw;
		transition: all 0.5s ease;
	}

	&__panel-logo {
		@include padding-inset(xs);

		color: $color-primary;

		letter-spacing: 5px;
		margin-top: 20vh;
		margin-bottom: 10vh;
		margin-left: 20%;
	}

	&__panel-list {
		@extend .d-flex;
		@extend .flex-column;

		margin-left: 20%;
	}

	&__panel-list-item {
		@include margin-bottom(md);
	}

	&__anchor {
		@include padding-inset(xs);
		@include typography-navigation;
		color: $color-heading-dark;
		text-decoration: none;

		&--active {
			border-bottom: 2px solid $color-primary;
			color: $color-primary;
			transition: all 0.3s ease;
		}
	}

	@include breakpoint-up(md) {
		display: none !important;
	}
}

.m-main-section {
	@include padding-top(lg);
	@include padding-bottom(lg);
	//to prevent outline due to smooth scrolling
	outline: none;

	&__container {
		@extend .container-fluid;
	}

	&__row {
		@extend .row;
	}

	&__col-why-content {
		@extend .col-md-6;
		@extend .order-1;
		@extend .order-md-0;
	}

	&__col-why-image {
		@extend .col-6;
		@extend .col-md-3;
		@extend .order-0;
		@extend .order-md-1;
		@extend .offset-3;
	}

	&__col-client {
		@extend .col-md-4;
	}

	&__col-about-content {
		@extend .col-md-6;
		@extend .order-1;
		@extend .order-md-0;
	}

	&__col-about-image {
		@extend .col-6;
		@extend .col-md-3;
		@extend .order-0;
		@extend .order-md-1;
		@extend .offset-3;
	}

	&__col-service {
		@extend .col-md-6;
	}

	&__col-project {
		@extend .col-md-6;
		@extend .col-lg-3;
	}

	&__col-contact-content {
		@extend .col-md-6;
		@extend .order-1;
		@extend .order-md-0;
	}

	&__col-contact-image {
		@extend .col-6;
		@extend .col-md-4;
		@extend .order-0;
		@extend .order-md-1;
		@extend .offset-3;
		@extend .offset-md-2;
	}

	&__title {
		@include margin-left(sm);
	}

	&__title-text {
		@include typography-h4;

		color: $color-heading-dark;
		display: inline;
	}

	&__title-text--primary {
		color: $color-primary;
	}

	&__content {
		@include margin-top(lg);
	}
}

.m-why-section {
	@include margin-bottom(lg);

	&__text {
		@include margin-top(md);

		@include breakpoint-up(md) {
			margin-top: 0px;
		}
	}

	&__title {
		@include typography-h5;

		color: $color-heading-dark;
	}

	&__description {
		@include typography-body-2;

		@include margin-top(sm);
		color: $color-body-dark;
	}

	&__image {
		height: auto;
		width: 100%;
	}
}

.m-client-card-wrapper {
	@include margin-bottom(lg);

	@include breakpoint-up(md) {
		margin-bottom: 0px;
	}
}

.m-service-card-wrapper {
	@include margin-bottom(lg);

	@include breakpoint-up(md) {
		margin-bottom: 0px;
	}
}

.m-project-card-wrapper {
	@include margin-bottom(lg);

	@include breakpoint-up(md) {
		margin-bottom: 0px;
	}

	&--margin-bottom {
		@include breakpoint-up(md) {
			@include margin-bottom(lg);
		}

		@include breakpoint-up(lg) {
			margin-bottom: 0px;
		}
	}
}
